*,
*::after,
*::before {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

:root {
    --primary: linen;
    --secondary: darkorange;
    --chat-white: #99abb4;
    --chat-dark: #263238;
    --border-primary: rgba(0, 0, 0, .15);
    --border-secondary: rgba(0, 0, 0, 0.5);
    --color-primary: #67757c;
    --white: #fff;
    --white-dark: #ebf3f5;
    --box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
        rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

body {
    background: var(--white);
    color: var(--color-primary);
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    margin: 0;
    overflow-x: hidden;
}

h3 {
    font-size: 21px;
    margin: initial;
    padding: 10px;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--color-primary);
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
}

html {
    width: -webkit-fill-available;
}

li {
    list-style: none;
}

.bg-light-inverse {
    background-color: #f6f6f6;
    border-radius: 0.25rem;
    border: 1px solid var(--border-primary);
    padding: 1rem;
}

.animated {
    -webkit-animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-duration: 0.4s;
    animation-fill-mode: both
}

@-webkit-keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn
}


.bg-light-danger {
    background-color: #f9e7eb;
    border-radius: 0.25rem;
    border: 1px solid var(--border-primary);
    padding: 1rem;
}

.bg-light-info {
    background-color: #cfecfe;
    border-radius: 0.25rem;
    border: 1px solid var(--border-primary);
    padding: 1rem;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    width: 100%;
}

.getInto__row,
.chat__row {
    display: grid;
    height: calc(100vh - 50px);
    margin: 0 auto;
    place-items: center;
    width: -moz-fit-content;
    width: -webkit-fit-content;
    width: fit-content;
}


@media (max-width: 300px) {
    .getInto__row,
    .chat__row {
        width: none !important;
    }
}

.getInto__row .getInto__row-form .getInto__row-form-control,
.chat__row .chat__row-serch .chat__row-control,
.chat__row .chat__row-write .chat__row-form .chat__row-form-entry {
    background-clip: padding-box;
    background-color: var(--white);
    background-image: none;
    border-radius: 0.25rem;
    border: 1px solid var(--border-primary);
    color: var(--color-primary);
    display: initial;
    font-size: 1rem;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    line-height: 1.25;
    min-height: 30px;
    padding: 1rem 0.75rem;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.getInto__row .getInto__row-form .getInto__row-form-btn,
.chat__row .chat__row-write .chat__row-form .chat__row-form-button,
.trigger,
.chat__row-close {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    background-color: var(--secondary);
    border-radius: 0.25rem;
    border: 1px solid transparent;
    cursor: pointer;
    display: inline-block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.25;
    min-height: 30px;
    padding: 1rem 0.75rem;
    text-align: center;
    transition: all .15s ease-in-out;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
}

.trigger,
.chat__row-close {
    display: none;
}

.chat__row-modal {
    width: -webkit-fill-available;
}

@media (max-width: 900px) {

    .trigger,
    .chat__row-close {
        display: block;
    }

    .chat__row .chat__row-serch {
        background-color: var(--primary);
        margin: auto
    }

    .chat__row-close {
        justify-self: right;
        margin-bottom: 2px;
        margin-right: 10px;
        padding: 3px 10px;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
    }

    .chat__row-modal {
        background-color: var(--border-secondary);
        height: 100%;
        left: 0;
        position: fixed;
        top: 0;
        transform: scale(1.1);
        transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
        visibility: hidden;
        width: 100%;
        z-index: 1;
    }

    .show-modal {
        opacity: 1;
        transform: scale(1);
        transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
        visibility: visible;
    }
}