.chat__row-content,
.chatPrivate__row-content {
    column-gap: 50px;
    -moz-column-gap: 50px;
    background-color: var(--primary);
    border-radius: 0.25rem;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-around;
    padding: 20px;
    width: 1000px;
}

.chatPrivate__row-content {
    width: 600px;
}

@media (max-width: 1080px) {
    .chat__row-content {
        width: 800px;
    }
}

@media (max-width: 900px) {
    .chat__row-content {
        width: inherit;
        padding: 0;
    }
}

/* -------------------serch--------------------------- */
.chat__row .chat__row-serch {
    display: grid;
    height: -moz-fit-content;
    height: -webkit-fit-content;
    height: fit-content;
    padding: 10px;
    row-gap: 10px;
}

.chat__row .chat__row-serch .chat__row-ul {
    background-color: var(--white);
    min-height: 70px;
    overflow-y: auto;
    padding: 10px;
}

.chat__row .chat__row-serch .chat__row-ul img {
    border-radius: 50px;
    width: 50px;
}


.chat__row .chat__row-serch .chat__row-ul li {
    list-style: none;
    overflow: hidden;
}

.chat__row .chat__row-serch .chat__row-ul li a {
    -moz-column-gap: 10px;
    align-items: center;
    column-gap: 10px;
    display: flex;
    padding: 10px;
    text-decoration: none;
}

.chat__row .chat__row-serch .chat__row-ul li a:hover {
    background: var(--white-dark);
}

.chat__row .chat__row-serch .chat__row-ul li a span {
    color: var(--color-primary);
    font-size: 1.2rem;
}

.chat__row .chat__row-serch .chat__row-ul li a span small {
    display: block;
    font-size: 10px;
}

/* -------------------serch--------------------------- */
/* -------------------write--------------------------- */
.chat__row .chat__row-write {
    display: grid;
    padding: 10px;
    row-gap: 10px;
    width: -webkit-fill-available;
}

@media (max-width: 900px) {
    .chat__row .chat__row-write .chat__row-button {
        padding: 10px;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        width: fit-content;
    }
}

.chat__row .chat__row-write .chat__row-span {
    color: var(--secondary);
}

.chat__row .chat__row-write .chat__row-write-box {
    height: auto;
    position: relative;
}

.chat__row .chat__row-write .chat__row-write-list {
    -webkit-overflow-scrolling: touch;
    background-color: var(--white);
    display: grid;
    height: 254px;
    overflow-y: auto;
    padding: 10px 0 10px 10px;
    row-gap: 10px;
}

.chat__row .chat__row-write .chat__row-write-list li {
    list-style: none;
}

.chat__row .chat__row-write .chat__row-write-list li .chat-img {
    display: inline-block;
    vertical-align: top;
    width: 45px;
}

.chat__row .chat__row-write .chat__row-write-list li .chat-img img {
    border-radius: 100%;
    width: 45px;
}

.chat__row .chat__row-write .chat__row-write-list li .chat-content {
    display: grid;
    row-gap: 10px;
}

.chat__row .chat__row-write .chat__row-write-list li .chat-content h5 {
    color: var(--chat-white);
}

.chat__row .chat__row-write .chat__row-write-list li .chat-content .box {
    color: var(--chat-dark);
    display: inline-block;
    margin-bottom: 10px;
}

.chat__row .chat__row-write .chat__row-write-list li .chat-time {
    color: var(--chat-white);
    display: inline-block;
    font-size: 13px;
    text-align: right;
    width: 100%;
}

.chat__row .chat__row-write .chat__row-write-list li.odd {
    text-align: left;
    display: grid;
    row-gap: 10px;
    padding: 10px;
}

.chat__row .chat__row-write .chat__row-write-list li.odd .chat-content {
    text-align: right;
    width: 100%;
}

.chat__row .chat__row-write .chat__row-write-list li.odd .chat-content h5 {
    color: var(--chat-white);
    text-align: left;
}

.chat__row .chat__row-write .chat__row-write-list li.odd .chat-content-img {
    -moz-column-gap: 10px;
    align-items: flex-end;
    column-gap: 10px;
    display: flex;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
}

.chat__row .chat__row-write .chat__row-write-list li.reverse {
    display: grid;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    row-gap: 10px;
    text-align: right;
    padding: 10px;
}

.chat__row .chat__row-write .chat__row-write-list li.reverse .chat-time {
    text-align: left;
}

.chat__row .chat__row-write .chat__row-write-list li.reverse .chat-content-img {
    column-gap: 10px;
    -moz-column-gap: 10px;
    align-items: flex-end;
    display: flex;
}

.chat__row .chat__row-write .chat__row-write-list li.reverse .chat-content {
    width: 100%;
}

.chat__row .chat__row-write .chat__row-write-list li.reverse .chat-content p {
    word-break: break-word;
}

/* -------------------write--------------------------- */
/* -------------------form--------------------------- */
.chat__row .chat__row-write .chat__row-form {
    column-gap: 10px;
    -moz-column-gap: 10px;
    display: flex;
    padding: 10px;
}