.getInto__row .getInto__row-form {
  background-color: var(--primary);
  border-radius: 0.25rem;
  box-shadow: var(--box-shadow);
  display: grid;
  padding: 20px;
  row-gap: 35px;
  width: 350px;
}

@media (max-width: 576px) {
  .getInto__row .getInto__row-form {
    row-gap: 20px;
    width: auto;
  }
}